__pycache__/
.env
.vscode/
*.log
AI-Ml Models/Person Collapse/last.pt
AI-Ml Models/Red Light and stop line/5688546-hd_1920_1080_30fps (1).avi
AI-Ml Models/Red Light and stop line/6896028-uhd_3840_2160_30fps (1).avi
